<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        <div class="m-0 mb-sm-1 mb-lg-3 row w-100 justify-content-center justify-content-sm-center justify-content-md-end justify-content-lg-end" style="position: fixed; bottom: 0;">
            <div class="col-sm-12 col-md-3">
                <SpotifyPlayer></SpotifyPlayer>
            </div>
        </div>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="w-100 row h-100 justify-content-center text-center align-items-center">
                <h1>Nada aqui</h1>
            </div>
        </LayoutView>
    </NotFound>
</Router>
